.admin-dashboard {
  border: 3px solid black;
  display: flex;
  height: 100vh;
}

.left, .right {
  height: 100%;
  width: 50%;
}

.review-section {
  border: 2px solid rgb(180, 30, 30);
  height: 33%;
}

.new-application {
  border: 2px solid rgb(30, 58, 180);
}

.requirements-amenities {
  border: 2px solid rgb(170, 180, 30);
}

.monthly-schedule {
  border: 2px solid rgb(30, 180, 123);
  height: 100%;
}
